{% for p in products %}
<div class="col-md-3 mb-4">
    <div class="card shadow-sm border-0 animate__animated animate__zoomIn">
        <div class="card-body">
            <p class="badge bg-warning text-dark">{{ p.store.store_name }}</p>
            <h5>{{ p.product_name }}</h5>
            
            <p class="text-muted small mb-1">
                Stock: <strong>{{ p.inventory.quantity }}</strong><br>
                Location: {{ p.store.store_address }}
            </p>
            
            <p class="text-danger fw-bold">₱{{ p.price }}</p>
            
            <button onclick="addToCart({{ p.id }})" class="btn btn-outline-danger w-100 mb-2">Buy Now</button>
            
            <form action="{% url 'delete_product' p.id %}" method="POST" onsubmit="return confirm('Remove this item from POS?')">
                {% csrf_token %}
                <button type="submit" class="btn btn-link text-muted small w-100 p-0">Delete Item</button>
            </form>
        </div>
    </div>
</div>
{% endfor %}